
<section class="w-75 mx-auto bg-main-light p-3 rounded-3 my-2">
    <h1>shop cart</h1>
    <p class="text-main">Total Price: {{cartDetails.totalCartPrice | currency}}</p>

    <div class="row border-bottom py-2" *ngFor="let item of cartDetails.products    ">
        <div class="col-md-2">
            <img [src]="item.product.imageCover" class="w-100" alt="">
        </div>

        <div class="col-md-10 d-flex justify-content-between">
            <!-- details -->
            <div>
                <h5>{{item.product.title}}</h5>
                <p class="text-main m-0">Price: {{item.price}}</p>
                <button class="btn p-0 m-0" (click)="removeCartItem(item.product._id)"><i class="fa-regular fa-trash-can me-1 text-danger"></i>Remove</button>
            </div>
            <!-- btns -->
            <div>
                <button (click)="changeCount(item.product._id , item.count+1)" class="btn border border-success">+</button>
                <span class="p-2">{{item.count}}</span>
                <button  (click)="changeCount(item.product._id , item.count-1)" class="btn border border-success">-</button>

            </div>

        </div>
    </div>
<button [routerLink]="['/checkout',cartDetails._id]" class="main-btn">onlinePayment <img src="./assets/images/visa-1.svg" alt=""></button>
</section>